/*声明 WebFont*/
@font-face {
  font-family: 'pingfang';
  src: url('../font/pingfang_regular.ttf');
  font-style: normal;
}
*{
	padding:0;
	margin:0;
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
}
li {
    list-style: none;
}
html{
	height:100%;
}
body{
	background: #fff;
    font-family: Helvetica Neue, Helvetica, pingfang, sans-serif;
    line-height: 1;
    color: #000;
    height:100%;
    font-size:16px;	
}
#header{
	width:1128px;
	height:75px;
    background-color:#fff;
	margin:0 auto;
	position:relative;
	background:url(../imgs/logo.png) no-repeat;
	-webkit-background-size:181px 43px;
	-moz-background-size:181px 43px;
	background-size:181px 43px;
	background-position:2px 25px;
}
#header .title-list{
	list-style:none;
	background-color:#fff;
	position:absolute;
	right:0;
	bottom:8px;
	z-index:99;
}
#header .title-list>li{
	width:114px;
	height:28px;
	line-height:28px;
	text-align:center;
	float:left;
	border-right:1px solid #ddd;
	padding:0px 1px;
	-webkit-background-clip:content-box;
	-moz-background-clip:content-box;
	background-clip:content-box;	
    position:relative;	
	-webkit-transition:background-color 0.5s linear;
	-moz-transition:background-color 0.5s linear;
	transition:background-color 0.5s linear;
}
#header .title-list>li>a{
	display:block;
	width:100%;
	height:100%;
	text-decoration:none;
	color:#777;
	font-family:'pingfang';
	cursor:pointer;
}
#header .title-list>li:hover{
	background-color:#e4e4e4;
}
#header .title-list>li:hover .list-mak{
    width:72px;    
}
#header .title-list>li .tb-list{
	position:absolute;
	background-color:#f8f8f8;
	left:0;
	top:28px;
	padding-top:8px;
	margin-left:21px;
	overflow:hidden;
	-webkit-background-clip:content-box;
	-moz-background-clip:content-box;
	background-clip:content-box;
}
#header .title-list>li .tb-list-com{
	width:280%;
}
#header .title-list>li .tb-list-pro{
	width:300%;
}
#header .title-list>li .tb-list a{
	text-decoration:none;
	color:#555;
	display:inline-block;
	float:left;
	padding-left:34px;
	height:54px;
	line-height:54px;
	text-align:center;
}
#header .title-list>li .tb-list a:hover{
	color:#a20000;
}
#header .title-list>li:nth-child(6){
	border-right:0px;
}
#header .title-list>li:hover{
	background-color:transparent;
}
.list-mark{
	width:0px;
	height:3px;
	background-color:#666;
	position:absolute;
	bottom:-8px;
	left:50%;	
	-webkit-transform:translateX(-50%);
	-o-transform:translateX(-50%);
	-ms-transform:translateX(-50%);
	-moz-transform:translateX(-50%);
	transform:translateX(-50%);
	-webkit-transition:width 0.3s linear;
	-moz-transition:width 0.3s linear;
	transition:width 0.3s linear;
}
.ads{
	width:100%;
	height:126px;
	background:url(../imgs/ads.jpg) no-repeat center 100%;
	background-clip:content-box;
	padding-bottom:25px;
	border-bottom:1px solid #ddd;
}
.container{
	width:1128px;
	margin:0 auto;
}
.container>header{
	position:relative;
	line-height:40px;
	border-bottom:1px solid #aaa;
	margin:50px 0px 40px;
}
.container>header>p{
	font-size:22px;
	color:#0e4a88;
	font-weight:bold;
}
.container>header>p>span{
	color:#000;
	margin-left:15px;
	font-family:'helvatica';
	font-weight:400;
}
.container>header ul{
	position:absolute;
	right:0;
	top:0;
}
.container>header ul li{
	float:left;
	list-style:none;
	margin-left:50px;
	font-size:16px;
	color:#000;
	font-weight:600;
	cursor:default;
}
.container>header ul li:hover{
	color:#c16767;
}
.container>header ul li.on{
	color:#c16767;
}
.container ul.title{
	height:440px;
	list-style:none;
}
.container ul.title li{
	height:100%;
	float:left;
	position:relative;
	background-color:#ebebeb;
}
.container ul.title li:nth-child(1){
	width:660px;
}
.container ul.title li:nth-child(2){
	width:468px;
}
.container ul.title li:nth-child(1) img{
	display:block;
	width:100%;
	height:100%;
}
.container ul.title li:nth-child(2){
	padding:66px 40px 40px 66px;
}
.container ul.title li:nth-child(2) h2{
	font-size:36px;
	color:#000;
	font-family:'pingfang';
	line-height:1.35;
	font-weight:200;
	letter-spacing:2px;
	text-indent:-2px;
}
.container ul.title li:nth-child(2) h2>span{
	letter-spacing:0px;
	text-indent:0px;
	font-family:helvatica;
	font-weight:200;
}
.container ul.title li:nth-child(2) p{
	line-height:1.75;
	color:#666;
	font-size:18px;
	margin-top:60px;
	text-align:justify;
}
.container ul.title li:nth-child(2) a{
	text-decoration:none;
	color:#777;
	margin-top:20px;
	display:block;
	float:right;
	font-size:15px;
}
.container ul.title li:nth-child(2) a:hover{
	color:#c16767;
}
.container ul.title li:nth-child(2) mark{
	display:block;
	position:absolute;
	width:40px;
	height:26px;
	background-color:#fd0000;
	color:#fff;
	text-align:center;
	line-height:26px;
	border-radius:6px;
	font-size:14px;
	right:26px;
	top:26px;
}
.container .news-btn{
	height:68px;
	border-bottom:1px solid #666;
	padding-left:0px;
	margin-top:40px;
	margin-bottom:0px;
}
.container .news-btn span{
	display:inline-block;
	padding:12px 1px;
	height:100%;
	line-height:60px;
	font-size:24px;
	font-family:'黑体';
	margin-right:45px;
	color:#000;
	cursor:pointer;
}
.container ul.news-1{
	width:100%;
	margin-bottom:200px;
}
.container ul.news-1 li{
	border-bottom:1px solid #666;
	height:90px;
	line-height:90px;
	padding-left:20px;
	position:relative;
	font-size:18px;
	background-color:#fff;
}
.container ul.news-1 li span{
	width:40px;
	height:24px;
	border-radius:4px;
	background-color:#00a0e9;
	color:#fff;
	font-size:10px;
	text-align:center;
	line-height:24px;
	display:inline-block;
	margin-right:12px;
}
.container ul.news-1 li time{
	position:absolute;
	display:block;
	right:30px;
	top:50%;
	transform:translateY(-50%);
}
.container ul.news-1 li a{
	text-decoration:none;
	color:#333;
}
.container ul.news-1 li a:hover{
	color:#c16767;
}
#footer{
	width:100%;
	height:255px;
	background:url(../imgs/bg_footer.jpg) no-repeat 100% center;
	overflow:hidden;
}
#footer .inscribe{
	list-style:none;
	width:1128px;
	margin:72px auto;
	height:110px;
	font-size:12px;
	color:#bbb;
}
#footer .inscribe>li:nth-child(1){
	height:100%;
	width:50%;
	float:left;
}
#footer .inscribe>li:nth-child(2){
	height:100%;
	width:455px;
	padding-right:120px;
	float:left;
}
#footer .inscribe>li:nth-child(1) p{
	margin-top:10px;
}
#footer .inscribe>li:nth-child(1) p:nth-child(3){
	margin-top:30px;
}
#footer .inscribe>li:nth-child(2){
	background:url(../imgs/weixin.jpg) no-repeat;
	background-position:right top;
	background-size:auto 100%;
	text-align:right;
}
#footer .inscribe>li:nth-child(2) p:nth-child(1){
	margin-top:48px;
}
#footer .inscribe>li:nth-child(2) p:nth-child(2){
	margin-top:12px;
}
.hide{
	display:none;
}