*:after,
*:before,
* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

body {
    font: normal 16px/1.5 sans-serif;
    max-height: 100%; /*prevent font boosting*/
    background-color: rgba(220,219,216,0.5);
}

img {
    max-width: 100%;
    margin: 0 auto;
    vertical-align: top;
}

input, button {
    ouline: none;
    background: transparent;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -webkit-tap-highlight-color: transparent;
    tap-highlight-color: transparent;
}
/*+++++*/
.video-box {
    position: relative;
}
.video-box video {
    position: absolute;
    top: 90px;
    width: 816px;
    left: 50%;
    margin-left: -408px;
}
.video-box .play {
    width: 120px;
    position: absolute;
    top: 240px;
    left: 50%;
    margin-left: -60px;
    z-index: 10;
    cursor: pointer;
}

/*页面表单*/
.form-wrapper {
    position: relative;
}

.form-wrapper .box {
    position: absolute;
    width: 100%;
    bottom: 70px;
    text-align: center;
}
.form-wrapper .box .ipt {
    text-align: left;
}
.form-wrapper .box input {
    width: 570px;
    height: 75px;
    margin-left: 300px;
    margin-bottom: 40px;
    border: none;
    outline: none;
    font-size: 50px;
    color: #8c3b37;
    padding-left: 10px;
    background: transparent;
}
.form-wrapper .box .sub-btn {
    display: inline-block;
    width: 300px;
    height: 75px;
    background: #8c3b37;
    -webkit-border-radius: 10px;
       -moz-border-radius: 10px;
            border-radius: 10px;
    margin-top: 50px;
    font-size: 50px;
    color: #fff;
    text-decoration: none;
}

/*主体*/
#wrapper {
    margin: 0 auto;
    width: 1000px;
    padding-bottom: 70px;
    background: rgba(220,219,216,1);
}
#wrapper .copyright {
    text-align: center;
    font-size: 12px;
    background: rgba(220,219,216,1);
    color: #43403f;
    padding: 5px 0;
}


/*footer*/
footer {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    width: 1000px;
    height: 84px;
    position: fixed;
    bottom: 0;
    left: 50%;
    z-index: 10;
    -webkit-transform: translateX(-50%);
       -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
         -o-transform: translateX(-50%);
            transform: translateX(-50%);
    background-color: #480628;
    text-align: center;
}

footer img {
    vertical-align: middle;
    margin-right: 8px;
}
footer a.item {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
       -moz-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    font: normal 30px/84px sans-serif;
    text-decoration: none;
    border-right: 1px solid #fff;
    color: #fff;
    cursor: pointer;
}
footer .item:last-child {
    border-right: 0;
}

/*form*/
.form {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-left: -231px;
    margin-top: -281px;
    width: 462px;
    background: #f0f0f0;
    padding: 70px 16px 16px;
    z-index: 9999;
    font-family: helvetica, "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
}
.form.show {
    display: block;
}
.form label {
    display: block;
    padding: 16px 0 3px;
    font-weight: normal;
    font-size: 22px;
    line-height: 1.2;
    color: #c0bfbf;
}
.form .row {
    width: 100%;
}
.form input {
    width: 100%;
    height: 58px;
    border: 1px solid #dcdcdc;
    -webkit-border-radius: 12px;
       -moz-border-radius: 12px;
            border-radius: 12px;
    font-size: 20px;
    text-indent: 1em;
    color: #333;
}

.form a.sub-btn ,
.form a.cal-btn {
    display: block;
    height: 58px;
    margin-top: 30px;
    font-size: 25px;
    line-height: 58px;
    color: #fff;
    text-decoration: none;
    background: #480628;
    text-align: center;
    -webkit-border-radius: 12px;
       -moz-border-radius: 12px;
            border-radius: 12px;
}

.form a.cal-btn {
    background: #fefefe;
    color: #c0bfbf;
}

.form .close {
    position: absolute;
    width: 45px;
    height: 45px;
    right: 0;
    top: 0;
    background: #ffffff;
    cursor: pointer;
}

.form .close:after,
.form .close:before {
    content: '';
    width: 45px;
    height: 0px;
    position: absolute;
    top: 22px;
    left: 0;
    border-bottom: 2px solid #dcdcdc;
    -webkit-transform: rotateZ(-45deg);
       -moz-transform: rotateZ(-45deg);
        -ms-transform: rotate(-45deg);
         -o-transform: rotateZ(-45deg);
            transform: rotateZ(-45deg);
}

.form .close:before {
    -webkit-transform: rotateZ(45deg);
       -moz-transform: rotateZ(45deg);
        -ms-transform: rotate(45deg);
         -o-transform: rotateZ(45deg);
            transform: rotateZ(45deg);
}


.dialog-form {
    display: none;
    width: 462px;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-left: -231px;
    margin-top: -281px;
    background: #fff;
    padding: 55px 0;
    z-index: 9999;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    font-family: helvetica, "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
    font-size: 25px;
}
.dialog-form.show {
    display: block;
}
.dialog-form > img {
    width: 100%;
    margin-bottom: 50px;
}
.dialog-form .row {
    width: 100%;
    padding: 0 40px;
    margin-bottom: 35px;
}
.dialog-form input {
    width: 225px;
    border: none;
    border-bottom: 1px solid #000;
    font-size: 25px;
}
.dialog-form input.w15 {
    width: 95px;
    margin-right: 10px;
}
.dialog-form .sub-btn {
    display: block;
    width: 385px;
    height: 77px;
    margin: 0 auto;
    /*background: url('../img/bg-btn.jpg') no-repeat;*/
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
}


/*mask*/
.mask {
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    background: rgba(0, 0, 0, 0);
    -webkit-transition: background .3s;
    -o-transition: background .3s;
    -moz-transition: background .3s;
    transition: background .3s;
}

.mask.toggle {
    background: rgba(0, 0, 0, 0.6);
}
