*:after,
*:before,
* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
	-webkit-tap-highlight-color:transparent;
    -webkit-overflow-scrolling: touch;
}

body {
    font: normal 16px/1.5 sans-serif;
    max-height: 100%; /*prevent font boosting*/
    background-color: #000;
	padding:0;
}
#content-container{
	width:750px;
	position:relative;
	margin:0 auto;
}
#content-container>img{
	width:750px;
	display:block;
}
#content-container .mgs-container{
	height:564px;
	background:url(../img/bg_msg.jpg) no-repeat;
	background-size:100% 100%;
	background-position:center;
	overflow:hidden;
	padding-left:40px;
	padding-right:40px;
}
#content-container .mgs-container>h3{
	height:36px;
	line-height:36px;
    font-weight:normal;
	margin-top:112px;
	letter-spacing:2px;
	color:#fff;
}
#content-container .mgs-container>h3>span{
	display:inline-block;
	width:36px;
	height:36px;
	border-radius:2px;
	background:url(../img/icon_pen.png) no-repeat #fdaa00;
	background-size:100% 100%;
	background-position:center;
	vertical-align:top;
	margin-right:12px;
}
#content-container .mgs-container .msg-district{
	width:100%;
	height:200px;
	display:block;
	font-size:24px;
	background-color:#fff;
}
#msg-commit{
	display:bloock;
	outline:0;
	height:60px;
	width:100%;
	border:0;
	line-height:60px;
	font-size:32px;
	color:#fff;
	background-color:#13577e;
	cursor:pointer;
	letter-spacing:20px;
}
#content-container .mgs-container .msg-btns{
	position:relative;
	margin-top:32px;
	height:55px;
	width:100%;
}
#content-container .mgs-container .msg-btns .btn-niming{
	position:absolute;
	width:120px;
	height:55px;
	background:url(../img/btn_niming.png) no-repeat;
	background-size:100% 100%;
	background-position:center;
	left:54px;
	cursor:pointer;
}
#content-container .mgs-container .msg-btns .btn-login{
	position:absolute;
	width:120px;
	height:55px;
	background:url(../img/btn_commit.png) no-repeat;
	background-size:100% 100%;
	background-position:center;
	right:54px;
	cursor:pointer;
}

/*登录面板*/
#login-container{
	width:675px;
	height:640px;
	position:fixed;
	left:50%;
	top:50%;
	margin-left:-327px;
	margin-top:-320px;
	border-radius:12px;
	background-color:#fff;
	padding-left:42px;
	padding-right:42px;
	display:none;
	z-index:99;
}
#login-container .mfm-logo{
	width:145px;
	height:145px;
	border-radius:50%;
	left:50%;
	top:0px;
	margin-top:-72px;
	margin-left:-72px;
	position:absolute;
	padding:10px;
	border:10px solid #fff;
	background:url(../img/logo_mfm.png) no-repeat #fdae00; 
	background-size:85px 50px;
	background-position:center;
}
#login-container .close-login{
	width:56px;
	height:56px;
	border-radius:50%;
	right:0px;
	top:0px;
	margin-right:-28px;
	margin-top:-28px;
	position:absolute;
	background:url(../img/close.png) no-repeat #dcdcdc;
	background-position:center;
	background-size:32px 32px;
	cursor:pointer;
}
#login-container>h3{
	font-size:24px;
	color:#666;
	margin-top:103px;
	margin-bottom:56px;
	letter-spacing:2px;
	text-align:center;
	font-weight:normal;
}
#login-container .ipt-container{
	width:100%;
	height:75px;
	border:1px solid #bbb;
}
#login-container .ipt-container-username{
	margin-bottom:56px;
}
#login-container .ipt-container .ipt-user-label,#login-container .ipt-container .ipt-tel-label{
	width:140px;
	height:100%;
	display:inline-flex;
	border-right:1px solid #eee;		
	display:inline-block;
	float:left;
}
#login-container .ipt-container .ipt-user-label{
	background:url(../img/icon_user.png) no-repeat;
	background-size:40px 56px;
	background-position:center;
}
#login-container .ipt-container .ipt-tel-label{
	background:url(../img/icon_user_tel.png) no-repeat;
	background-size:40px 56px;
	background-position:center;
}
#login-container input[name='username'],#login-container input[name='tel']{
	height:100%;
	width:449px;
	font-size:24px;
	display:inline-block;
	text-align:center;
	padding:8px 4px;
	float:left;
	border:0;
	outline:0;
}
#login-container input[name='tel']{
	margin-bottom:28px;
}
#login-container .remeber-counter-container{
	font-size:20px;
	height:22px;
	line-height:22px;
	margin-bottom:60px;
	letter-spacing:2px;
	color:#444;
}
#login-container .remeber-counter-container .rember-conter-btn{
	width:22px;
	height:100%;
	background-color:#fff;
	border-radius:2px;
	display:inline-block;
	margin-right:12px;
	vertical-align:middle;
	border:1px solid #aaa;
}
#login-container .remeber-counter-container .rember-conter-btn.toggle{
	background-color:#2eaca1;
}
#loging-btn{
	height:75px;
	background:url(../img/btn_login.png) no-repeat;
	background-size:100% 100%;
	background-position:0px 0px;
	cursor:pointer;
}

#msg-interactive{
	width:100%;
	height:564px;
	overflow-y:scroll;
	background-color:#2eaca1;
	list-style:none;
	padding-left:40px;
	padding-right:40px;
	padding-bottom:72px;
	font-size:20px;
	color:#fff;
}
#msg-interactive li{
	border-bottom:1px solid #bbb;
	padding:78px 0px 40px;
	position:relative;
	letter-spacing:2px;
	line-height:1.75;
}
#msg-interactive li>span{
	font-weight:600;
	color:#fff;
}
#msg-interactive li>span>mark{
	background-color:transparent;
	color:#fff;
	margin-right:20px;
}
#msg-interactive li .thumb{
	padding-left:40px;
	line-height:26px;
	font-weight:normal;
	font-size:18px;
	height:26px;
	left:575px;
	bottom:10px;
	position:Absolute;
	background:url(../img/thumb.png) no-repeat;
	background-size:32px 26px;
	background-position:0px 0px;
}
/*mask*/
.mask {
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 98;
    background: rgba(0, 0, 0, .7);
    -webkit-transition: background .3s;
    -o-transition: background .3s;
    -moz-transition: background .3s;
    transition: background .3s;
}
.hide{
	display:none;
}

.mask.toggle {
    background: rgba(0, 0, 0, 0.6);
}

