*{
	margin:0;
	padding:0;
	box-sizing:border-box;
	-webkit-box-sizing:border-box;	
}
html{
	font-family:'Arial,helvatica,san-serif';
}
body{
	width:100%;
	overflow-x:hidden;
	background-color:#ffdf02;
}
.logo{
	width:100%;	
}
.logo>img{
	width:100%;
	display:block;
}
.guid{
	position:relative;
	background-size:100%
}
.guid img.guidBgImg{
	width:100%;
	display:block;
}
.guid .guid-content{
	width:9.9rem;
	height:100%;
	top:0;
	left:50%;
	position:absolute;
	margin-left:-4.95rem;
	z-index:1;
	overflow:hidden;
}
p.guid-words{
	text-indent:2em;
	padding-top:.4rem;
	padding-left:.35rem;
	padding-right:.35rem;
	padding-bottom:.75rem;
	width:100%;
	height:100%;
	display:block;
	font-size:.19rem;
	line-height:1.6;
	font-family:'宋体';
	color:#d1c0a5;
	text-shadow:0px 0px 1px rgba(0,0,0,.2);
	font-weight:600;
	text-align:justify;
	text-overflow:ellipsis;
	overflow:hidden;
}
.container{
	width:12rem;
	margin:0 auto;
	background-color:#fff;
	padding-left:1.05rem;
	padding-right:1.05rem;
	padding-top:.75rem;
	margin-top:-1.05rem;
}
.witness{
	height:.6rem;
	background-color:#7d4700;
	position:relative;
	padding-left:1.85rem;
	margin-top:.74rem;
}
.witness h3{
	font-size:.3rem;
	height:100%;
	text-align:left;
	line-height:.6rem;
	color:#fff;
	font-family:'黑体';
}
.witness .eye{
	width:1.06rem;
	height:1.15rem;
	background-color:#ca9401;
	position:absolute;
	left:.43rem;
	top:-.23rem;
}
.witness .eye img{
	width:100%;
	height:100%;
	display:block;
}
.container .content:not(first-child){
	margin-top:.75rem;
}
.content{
	background-color:#d1c0a5;
	padding:.67rem .43rem .87rem;
}
.content header{
	height:.62rem;
	font-size:.3rem;
	color:#fff;
}
.content header span:nth-child(1){
	background-color:#7d4700;
	height:.62rem;
	width:7.87rem;
	padding-left:.25rem;
	padding-right:.25rem;
	display:inline-block;
	line-height:.62rem;
	font-family:'黑体';
	margin-right:.08rem;
	float:left;
}
.content header span:nth-child(2){
	display:inline-block;
	width:.85rem;
	height:.62rem;
	border-left:1px solid #7d4700;
	float:left;
}
.content header span:nth-child(2) a{
	display:block;
	background-color:#ffdf02;
	width:100%;
	height:.32rem;
	font-size:.18rem;
	text-align:center;
	text-decoration:none;
	color:#333;
	font-family:'黑体';
	font-weight:600;
    margin-top:.15rem;
	line-height:.32rem;
}
#info{
	font-size:.15rem;
	font-family:'宋体';
	margin-top:.3rem;
}
#info:after{
	content:'';
	display:table;
	height:0px;
	clear:both;
}
#info .lft-intro{
	width:3.95rem;
	float:left;
}
#info .lft-intro p{
	line-height:.25rem;
	text-align:justify;
	font-family:'黑体';
	color:#111;
}
#info .lft-intro p:not(.intro-title){
	text-indent:2em;
}
#info .rgt-info{
	float:right;
	width:4.54rem;
	padding-left:.16rem;
	padding-top:.16rem;
	padding-right:.16rem;
	padding-bottom:.16rem;
	background-color:#fff;
	box-shadow:8px 8px 16px #666;
}
#info .rgt-info>img{
	width:100%;
	display:block
}
#info .rgt-info p{
	text-align:center;
	font-family:'宋体';
	font-weight:600;
	color:#666;
	margin-top:.2rem;
}
footer{
	margin-top:.75rem;
	padding-bottom:.33rem;	
}
footer .more{
	width:1.3rem;
	height:1.3rem;
	border-radius:50%;
	margin:0 auto;
	background-color:#7d4700;
	text-align:center;
	line-height:1.3rem;	
	overflow:hidden;
}
footer .more a{
	width:100%;
	height:100%;
	overflow:hidden;
	display:block;
	color:#fff;
	font-size:.18rem;
	text-decoration:none;
	background:url(../img/arrow.png) no-repeat;
	background-size:.38rem .2rem;
	background-position:center .88rem;
}
footer .more a p{
	margin-top:-.1rem;
}











