*:after,
*:before,
* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-overflow-scrolling: touch;
}

body {
    font: normal 16px/1.5 sans-serif;
    max-height: 100%; /*prevent font boosting*/
    background-color: #fff;
}

header,footer,article,section {
    display: block;
}

img {
    max-width: 100%;
    margin: 0 auto;
    vertical-align: top;
}

em {
    font-style: normal;
}

#wrapper {
    padding: 0;
    margin: 0 auto;
    width: 640px;
    padding-bottom: 84px;
	overflow:hidden;
}

/*header*/
header {
    position: relative;
    width: 750px;
    margin: 0 auto;
}

/*article*/
article {
    overflow: hidden;
    text-align: center;
}


/*btn-row*/
.btn-row {
    padding: 16px 0 26px;
    text-align: center;
    font-size: 0;
    white-space: nowrap;
    background: #1d191a;
    /*background-color: silver;*/
    background-size: 100% auto;

}

.btn-row .btn {
    margin-left: 20px;
}

.btn-row .btn:first-child {
    margin-left: 0;
}

.btn {
    display: inline-block;
    width: 209px;
    height: 72px;
    margin-left: 80px;
    font: normal 28px/72px sans-serif;
    color: #040116;
    /*background: url(../img/btn-bg.png) no-repeat center;*/
    background-color: #ffd8aa;
    text-decoration: none;
    text-align: center;
    border-radius: 5px;
}

.wid{
    width: 100%;
    height: 7px;
    background-color: #ffd8aa;
    margin-top: 69px;
}
.hu{
    /* border: 1px solid red; */
    height: 100px;
    line-height: 100px;
    font-size: 2rem;
    width: 100%;
    font-weight: bold;
    text-align: center;
}

footer{
	height:84px;
	width:100%;
	position:fixed;
	bottom:0;
	background-color:#b35d2e;
}
footer>a.item{
	font: normal 30px/84px sans-serif;
    text-align: center;
    text-decoration: none;
    float: left;
    width: 33.33%;
    height: 100%;
    border-right: 1px solid #fff;
    background-color:#b35d2e;
    color: #fff;
    cursor: pointer;
}
footer>a.item:last-child{
	border-right:0;
}
footer>a.item>img{
	vertical-align:middle;
	margin-left:-10px;
	margin-right:10px;
}
/*form*/
.form {
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0%;
    padding:50px 20px 60px;
    background: #f0f0f0;
    z-index: 999;
    -webkit-transform: translate(0, 100%);
    transform: translate(0, 100%);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    width: 100%;
    background-color: #EFEFF4;
    -webkit-transition: -webkit-transform .3s;
    transition: -webkit-transform .3s;
    transition: transform .3s;
    transition: transform .3s, -webkit-transform .3s;
}

.form.show {
    -webkit-transform: translate(0, 0); 
    transform: translate(0, 0);
}

.form label {
    display: block;
    padding: 20px 0 8px;
    font:normal 40px/1.2 sans-serif;
    color: #c0bfbf;
}

.form input {
    display: block;
    width: 100%;
    border: 1px solid #dcdcdc;
    height: 92px;
    border-radius: 12px;
    font-size: 40px;
    text-indent: 1em;
}

.form a.sub-btn {
    display: block;
    height: 92px;
    margin-top: 82px;
    font: normal 40px/92px sans-serif;
    color: white;
    text-decoration: none;
    background: #614e40;
    text-align: center;
    border-radius: 12px;
}

.form a.cal-btn {
    display: block;
    height: 92px;
    margin-top: 30px;
    font: normal 40px/92px sans-serif;
    color: #c0bfbf;
    text-decoration: none;
    background: #fefefe;
    text-align: center;
    border-radius: 12px;
}

/*mask*/
.mask {
    display: none;
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0);
    -webkit-transition: background .3s;
    transition: background .3s;
    z-index: 99;
}

.mask.toggle {
    background: rgba(0, 0, 0, 0.6);
}



@-webkit-keyframes ring {
  0% {-webkit-transform:rotate(0deg);}
  4% {-webkit-transform:rotate(-45deg);}
  8% {-webkit-transform:rotate(0deg);}
  12% {-webkit-transform:rotate(-45deg);}
  16% {-webkit-transform:rotate(0deg);}
  20% {-webkit-transform:rotate(-45deg);}
  24% {-webkit-transform:rotate(0deg);}
  100% {-webkit-transform:rotate(0deg);}
}

@keyframes ring {
  0% {transform:rotate(0deg);}
  4% {transform:rotate(-45deg);}
  8% {transform:rotate(0deg);}
  12% {transform:rotate(-45deg);}
  16% {transform:rotate(0deg);}
  20% {transform:rotate(-45deg);}
  24% {transform:rotate(0deg);}
  100% {transform:rotate(0deg);}
}


/*==============================================================*/
/*==============================================================*/
/*==============================================================*/
/*===================== huaqian.css =============================*/
/*==============================================================*/
/*==============================================================*/
/*==============================================================*/
body {
    font: normal 16px/1.5 sans-serif;
}

.contact-btn {
    height: 179px;
    width: 165px;
    position: absolute;
    left: 66%;
    bottom: -68px;
    margin-left: -200px;
    text-align: center;
    font: bold 40px/75px sans-serif;
    z-index: 100;
}


.contact {
    display: block;
    width: 174px;
    height: 44px;
    margin: 0 auto;
    border-radius: 10px;
    background: #614e40;
    color: #fff;
    text-decoration: none;
    font-size: 24px;
    line-height: 44px;
    font-weight: 300;
    cursor: pointer;
}

.contact:active,
.contact:focus {
    background-color: #745e4d;
}

/*refer*/
.refer {
    position: relative;
    margin: 130px auto 30px;
    padding: 70px 40px 30px;
    width: 994px;
    height: 452px;
    text-align: left;
}

/*refer h2*/

.refer h2 {
    position: absolute;
    left: 13px;
    top: -30px;
    height: 61px;
    color: #fff;
    font: normal 32px/61px sans-serif;
    text-indent: 10px;
    background: #B12923;
}

.refer h2:before {
    content: "";
    position: absolute;
    bottom: 0;
    right: -31px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 63px 0 0 32px;
    border-color: transparent transparent transparent #B12923;
}

.refer p {
    color: #2f2f2f;
    text-align: justify;
    text-justify: inter-ideograph;
    text-indent: 2em;
    line-height: 2;
    margin-bottom: 10px;
}



/*section moudle*/
.sec {
    margin: 0 auto;
    color: #ffd8aa;
    padding: 0px;
    z-index: 99;
}
.imgcon{
    margin: 39px 0;
}

.sec h2 {
    height: 78px;
    margin-bottom: 1px;
    text-align: left;
    font-weight: bold;
    font-size: 2rem;
    line-height: 78px;
}

.sec h2 strong {
    color: #B12923
}

.sec h2 .for {
    position: relative;
    display: inline-block;
    width: 124px;
    height: 78px;
    margin-right: 43px;
    padding: 0 10px 0 10px;
    background: #B12923;
    border-radius: 4px;
    vertical-align: top;
    -webkit-user-select: none;
    user-select: none;
}
.sec h2 .for .icon-plus {
    position: absolute;
    top: 0;
    right: -18px;
    width: 10px;
    height: 10px;
    border-width: 5px 0 0 5px;
}

.sec h2 .for .icon-plus,
.sec h2 .for .icon-plus:after {
    position: absolute;
    width: 10px;
    height: 10px;
    border-style: solid;
    border-color: #B12923;
}

.icon-plus:after {
    content: "";
    top: -10px;
    left: -10px;
    border-width: 0 5px 5px 0;
}

.sec h2 .for span {
    float: left;
    width: 63px;
    height: 100%;
    font-size: 31px;
    color: #fff;
    line-height: 39px;
}

.sec h2 .for b {
    float: right;
    font-style: italic;
    font-size: 65px;
    line-height: 78px;
    color: #fff;
}

.sec p {
    color: #2f2f2f;
    /*text-align: justify;*/
    text-justify: inter-ideograph;
    text-indent: 2em;
    line-height: 1.7;
    margin-bottom: 10px;
    text-align: left;
}

.sec ul {
    margin: 16px 0;
}
.sec li {
    text-align: left;
    list-style-position: inside;
    color: #B12923;
    margin-top: 4px;
}

.sec h1 {
    margin: 20px 0 20px;
    text-align: left;
    color: #B12923;
    font-size: 46px;
    line-height: 1.2;
}

.prote {
    padding-top: 15px;
}

.prote .sec h2 {
    font-size: 30px;
}

.mul {
    display: inline-block;
    line-height: 1.34;
    color: #ffd8aa;
}


.fwenzi{
    border: 1px solid #ffd8aa;
    padding: 10px;
    color: #453229;
    text-indent: 2rem;
    text-align: left;
}

.copyright {
    margin-top: -60px;
    text-align: center;
    font-size: 12px;
    color: #888;
    height: 16px;
}



.dialog-form {
    display:none;
    width:780px;
    height:590px; 
    background:#1E201F;
    border-radius: 10px;
    position: fixed;
    top: 200px;
    left: 50%;
    margin-left: -390px;
    -webkit-box-shadow: 0 0 10px rgba(255,255,255,0.3);
       -moz-box-shadow: 0 0 10px rgba(255,255,255,0.3);
            box-shadow: 0 0 10px rgba(255,255,255,0.3);
    padding: 30px 120px;
    z-index: 100;
    font-size: 23px;
    color: #D8D6D6;
    text-align: center;
}
.dialog-form > .title {
    width: 155px;
    margin-bottom: 30px;
}
.dialog-form > .close {
    position: absolute;
    top: 15px;
    right: 15px;
    cursor: pointer;
}
.dialog-form > .tip {
    font-size: 18px;
    margin-bottom: 15px;
}
.dialog-form .row {
    width: 100%;
    margin-bottom: 20px;
}
.dialog-form .row input[type="checkbox"] {
    vertical-align: text-bottom;
}
.dialog-form .row .agree-wrapper {
    margin: 0 auto;
}
.dialog-form .row .agree-box {
    display: inline-block;
    padding: 10px 5px;
    border-radius: 10px;
    background-color: #D1C0A5;
    color: #363636;
}
.dialog-form .row .notice {
    color: #b81a00;
    margin-left: 10px;
    cursor: pointer;
}
.dialog-form label {
    display: inline-block;
    font-weight: normal;
}
.dialog-form label:first-child {
    margin-right: 170px;
}
.dialog-form input {
    width: 100%;
    padding: 10px 17px;
    border: none;
    border-radius: 10px;
    background-color: #BFBFBF;
    font-size: 18px;
    outline: none;
}
.dialog-form .check {
    width: 27px;
    height: 27px;
    padding: 0;
    background: url('../img/checkbox.png') no-repeat top left;
    background-size: 100%;
    border-radius: 0;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    vertical-align: text-top;
    margin-top: 3px;
    margin-right: 10px;
}

.dialog-form .check:checked {
    background-position: bottom left;
}
.dialog-form .sub-btn {
    display: block;
    width: 272px;
    height: 52px;
    margin-left: 155px;
    background: url('../img/btn-sub.png') no-repeat;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
}
.special-tip {
    display: none;
    width: 780px;
    background:#1E201F;
    border-radius: 10px;
    position: fixed;
    top: 300px;
    left: 50%;
    margin-left: -390px;
    -webkit-box-shadow: 0 0 10px rgba(255,255,255,0.3);
       -moz-box-shadow: 0 0 10px rgba(255,255,255,0.3);
            box-shadow: 0 0 10px rgba(255,255,255,0.3);
            padding: 70px 80px 65px 80px;
    z-index: 500;
    font-size: 23px;
    color: #D8D6D6;
    text-align: center;
}
.special-tip > .close-tip {
    position: absolute;
    top: 15px;
    right: 15px;
    cursor: pointer;
}
.special-tip .title {
    display: block;
    width: 100%;
    font-size: 43px;
    color: #b80000;
    text-align: center;
}
.special-tip ul li {
    text-align: left;
    font-size: 20px;
    padding-left: 35px;
    position: relative;
}
.special-tip ul li::before {
    content: '';
    display: inline-block;
    width: 15px;
    height: 15px;
    background-color: #c9c9c9;
    border-radius: 50%;
    position: absolute;
    top: 8px;
    left: 0;
}


/*mask*/
.mask {
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    background: rgba(0, 0, 0, 0);
    -webkit-transition: background .3s;
    -o-transition: background .3s;
    -moz-transition: background .3s;
    transition: background .3s;
}

.mask.toggle {
    background: rgba(0, 0, 0, 0.6);
}


@media screen and (max-width: 800px) {
    .dialog-form {
        width: 5.84rem;
        height: 7rem;
        margin-left: -2.92rem;
        padding: 1.2rem 0.45rem 0.4rem;
        font-size: 0.2rem;
        top: 50%;
		margin-top:-3.5rem;
    }
    .dialog-form > .title {
        width: 1.7rem;
        margin-bottom: 0.3rem;
    }
    .dialog-form > .close {
        width: 0.3rem;
    }
    .dialog-form > .tip {
        font-size: 0.2rem;
        margin-bottom: 0.25rem;
        text-align: center;
    }
    .dialog-form label:first-child {
        margin-right: 1.4rem;
    }
    .dialog-form .check {
        width: 0.25rem;
        height: 0.25rem;
    }
    .dialog-form input {
        padding: 0.1rem 0.17rem;
        font-size: 0.2rem;
        border-radius: 0.1rem;
    }
    .dialog-form .row .agree-box {
        padding: 0.1rem 0.15rem;
        border-radius: 0.1rem;
    }
    .dialog-form .sub-btn {
        width: 2.4rem;
        height: 4.7rem;
        margin-left: 1.5rem;
    }
    .dialog-form .row {
        margin-bottom: 0.25rem;
    }
    .special-tip {
        width: 5.84rem;
        margin-left: -2.94rem;
        padding: 0.5rem 0.35rem 0.45rem 0.35rem;
        top: 3rem;
    }
    .special-tip > .close-tip {
        width: 0.3rem;
    }
    .special-tip .title {
        font-size: 0.3rem;
    }
    .special-tip ul li {
        font-size: 0.2rem;
        padding-left: 0.25rem;
    }
    .special-tip ul li::before {
        width: 0.12rem;
        height: 0.12rem;
    }
    .
}
.show {
    display: block !important;
}

