*:after,
*:before,
* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-overflow-scrolling: touch;
}

body {
    font: normal 16px/1.5 sans-serif;
    max-height: 100%; /*prevent font boosting*/
    background-color: #380101;
	padding:0;
}

header,footer,article,section {
    display: block;
}

.container{
	width:1000px;
	margin:0 auto;
	background-color:#bd111a;
	position:relative;
}
.container .block{
	position:relative;
}
.container .block>img{
	display:block;
	outline:0;
	width:1000px;
}
.container .block>div{
	display:block;
	width:189px;
	height:47px;
	position:absolute;
	cursor:pointer;
}
.t2,.d2{
	bottom:70px;
}
.t2{
	left:273px;
}
.d2{
	left:538px;
}

.t3,.d3{
	bottom:72px;
}
.t3{
	left:273px;
}
.d3{
	left:538px;
}

.t4,.d4{
	bottom:72px;
}
.t4{
	left:273px;
}
.d4{
	left:538px;
}

.t5,.d5{
	bottom:72px;
}
.t5{
	left:273px;
}
.d5{
	left:538px;
}

.t6,.d6{
	bottom:72px;
}
.t6{
	left:273px;
}
.d6{
	left:538px;
}

.t7,.d7{
	bottom:72px;
}
.t7{
	left:273px;
}
.d7{
	left:538px;
}

.t8,.d8{
	bottom:72px;
}
.t8{
	left:273px;
}
.d8{
	left:538px;
}

.t9,.d9{
	bottom:32px;
}
.t9{
	left:273px;
}
.d9{
	left:538px;
}
.container .block>a.tel-btn{
	position:Absolute;
	display:block;
	width:245px;
	height:55px;
	top:30px;
	left:50%;
	margin-left:-122px;
}
.tel-btn-1{
	position:Absolute;
	display:block;
	width:245px;
	height:55px;
	bottom:30px;
	left:50%;
	margin-left:-122px;
}
.container .block>a.tel-btn>img{
	display:block;
	width:100%;
	height:100%;
}
.dialog-form,.user-contract{
    display:none;
    width:527px;
    height:400px; 
    background:#510000;
    border-radius: 10px;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-left: -263px;
	margin-top:-200px;
    -webkit-box-shadow: 0 0 10px rgba(255,255,255,0.1);
       -moz-box-shadow: 0 0 10px rgba(255,255,255,0.1);
            box-shadow: 0 0 10px rgba(255,255,255,0.1);
    padding: 36px 80px;
    z-index: 100;
    font-size: 16px;
    color: #D8D6D6;
    text-align: center;
}
.user-contract{
	text-align:left;
	font-size:14px;
	overflow:hidden;
	overflow-y:scroll;
	line-height:1.75;
	padding-top:40px;
	padding-bottom:40px;
	padding-left:40px;
	padding-right:40px;
}
.user-contract h2{
	text-align:center;
}
.quit-contract{
	position: absolute;
	width:30px;
	height:30px;
    top: 15px;
    right: 15px;
    cursor: pointer;
}
.dialog-form > .title {
    width: 155px;
    margin-bottom: 15px;
}
.dialog-form > .close {
    position: absolute;
	width:32px;
	height:32px;
    top: 15px;
    right: 15px;
    cursor: pointer;
}
.dialog-form > .tip {
    font-size: 12px;
    margin-bottom: 10px;
}
.dialog-form .row {
    width: 100%;
    margin-bottom: 14px;
	line-height:20px;
	font-size:20px;
}
.dialog-form .row input[type="checkbox"] {
    vertical-align: text-bottom;
}
.dialog-form .row .agree-wrapper {
    margin: 0 auto;
}
.dialog-form .row .agree-box {
    display: inline-block;
    padding: 10px 5px;
    border-radius: 10px;
    background-color: #D1C0A5;
    color: #363636;
}
.dialog-form .row .notice {
    color: #b81a00;
    margin-left: 10px;
    cursor: pointer;
}
.dialog-form label {
    display: inline-block;
    font-weight: normal;
}
.dialog-form label:first-child {
    margin-right: 150px;
}
.dialog-form input {
    width: 100%;
	height:30px;
    padding: 10px 17px;
    border: none;
    border-radius: 10px;
    background-color: #BFBFBF;
    font-size: 18px;
    outline: none;
}
.dialog-form .check {
    width: 20px;
    height: 20px;
    padding: 0;
    background: url('../img/checkbox.png') no-repeat top left;
    background-size: 100%;
    border-radius: 0;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    vertical-align: text-top;
    margin-top: 3px;
    margin-right: 10px;
}

.dialog-form .check:checked {
    background-position: bottom left;
}
.dialog-form .sub-btn {
    display: block;
    width: 180px;
    height: 52px;
    margin-left: 90px;
    background: url('../img/btn-sub.png') no-repeat;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
}
.special-tip {
    display: none;
    width: 527px;
    background:#1E201F;
    border-radius: 10px;
    position: fixed;
    top: 50%;
	margin-top:-150px;
    left: 50%;
    margin-left: -263px;
    -webkit-box-shadow: 0 0 10px rgba(255,255,255,0.3);
       -moz-box-shadow: 0 0 10px rgba(255,255,255,0.3);
            box-shadow: 0 0 10px rgba(255,255,255,0.3);
            padding: 70px 80px 65px 80px;
    z-index: 500;
    font-size: 23px;
    color: #D8D6D6;
    text-align: center;
}
.special-tip > .close-tip {
    position: absolute;
    top: 15px;
    right: 15px;
    cursor: pointer;
}
.special-tip .title {
    display: block;
    width: 100%;
    font-size: 43px;
    color: #b80000;
    text-align: center;
}
.special-tip ul li {
    text-align: left;
    font-size: 20px;
    padding-left: 35px;
    position: relative;
}
.special-tip ul li::before {
    content: '';
    display: inline-block;
    width: 15px;
    height: 15px;
    background-color: #c9c9c9;
    border-radius: 50%;
    position: absolute;
    top: 8px;
    left: 0;
}
.form-title{
	font-size:26px;
	margin-bottom:30px;
}


/*mask*/
.mask {
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    background: rgba(0, 0, 0, 0);
    -webkit-transition: background .3s;
    -o-transition: background .3s;
    -moz-transition: background .3s;
    transition: background .3s;
}

.mask.toggle {
    background: rgba(0, 0, 0, 0.6);
}



/*footer*/
footer {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    width: 1000px;
    height: 84px;
    position: fixed;
    bottom: 0;
    left: 50%;
    z-index: 10;
    -webkit-transform: translateX(-50%);
       -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
         -o-transform: translateX(-50%);
            transform: translateX(-50%);
    background-color: #230101;
    text-align: center;
}

footer img {
    vertical-align: middle;
    margin-right: 8px;
}
footer a.item {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
       -moz-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    font: normal 30px/84px sans-serif;
    text-decoration: none;
    border-right: 1px solid #fff;
    color: #fff;
    cursor: pointer;
}
footer .item:last-child {
    border-right: 0;
}
.contract-btn{
	display:block;
	position:Absolute;
	width:82px;
	height:27px;
	background-color:transparent;
	left:50%;
	margin-left:-41px;
	top:144px;
	cursor:pointer;
}
.about-us{
	display:block;
	position:Absolute;
	width:82px;
	height:27px;
	background-color:transparent;
	left:50%;
	margin-left:-41px;
	top:192px;
	cursor:pointer;
}
.show {
    display: block !important;
}

