*{
	padding:0;
	margin:0;
	box-sizing:border-box;
	outline:0;
}
body{
	width:100%;
}
header{
	width:100%;
	display:block;
}
header img{
	width:100%;
	display:block;
}
.videoBox{
	width:100%;
	position: relative;
}
.videoBox video{
	background:url(../img/videoCover.jpg) no-repeat;
	background-size:100%;
	width:100%;
}
.videoBox a{
	display:block;
	width:100%;
}
.videoBox img{
	width:100%;
	display:block;
}
.news-tag{
	width:100%;
}
.news-tag img{
	width:100%;
	display:block;
}
.news-content{
	width:100%;
	list-style:none;
	font-size:.25rem;
	padding:0 .2rem;
}
.news-content li{
	border-bottom:1px dashed #999;
	line-height:1.5;
	padding-bottom:.27rem;
	position: relative;
}
.news-content li > a {
	display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
}
.news-content li h4{
	font-size:.25rem;
	font-weight:700;
	padding:.32rem 0rem .2rem;
}
.news-content li p{
	color:#666;
}
.news-content li p span {
	color:#e25520;
	text-decoration:none;
}
.process{
	width:100%;
}
.process img{
	width:100%;
	display:block;
}
#scrollCell{
	width:100%;
	background-color: #bcbcbc;
	padding-bottom: 10px;
	overflow:hidden;
	position:relative;
}
.wrapper{
	width:400%;
	list-style:none;
}
.wrapper li{
	width:25%;
	float:left;
	height:200px;
	padding:10px;
	/*border:1px solid #eee;*/
}
.wrapper li img{
	display:block;
	width:100%;
	height:100%;
	/*border:1px solid #ddd;*/
}
.title{
	width:80px;
	left:50%;
	margin-left:-40px;
	height:8px;
	position:absolute;
	bottom:2px;
}
.title li{
	width:8px;
	height:8px;
	border-radius:50%;
	border:1px solid #999;
	float:left;
	list-style:none;
	margin-left:8px;
}
.title li.on{
	background-color:#666;
}
footer img{
	width:100%;
	display:block;
}

/* ++++++++++++++++ */

.videoBox ul.wrapper {
	overflow: hidden;
	clear: both;
}
.videoBox ul.wrapper li {
	height: auto;
	padding-bottom: 0;
}
.videoBox ul.title {
	display: inline-block;
	width: auto;
	margin-left: -16px;
}


.page-cell {
	position: absolute;
    top: 30%;
    color: #fff;
    width: 100%;
    height: 50px;
    height: 1px;
    opacity: 0.5;
    padding: 0 10px;
    font-style: 25px;
}
.page-cell .next {
	float: right;
}
