* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

html * {
    max-height: 1000000px;
}
html,body {
    position: relative;
    height: 100%;
    background: #000;
}

li {
    list-style: none;
}

body {
    background: #eee;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    line-height: 1;
    color: #000;
    height: 100%;
    /*letter-spacing: 6px;*/
    max-width: 750px;
    margin: auto;
    padding: 0;
    letter-spacing: 1px;
    -webkit-tap-highlight-color: transparent;
    background: rgb(0,0,0);
}

#hand{
	width:30px;
	height:45px;
	position:absolute;
	top:100%;
	margin-top:-10px;
	left:50%;
	margin-left:-15px;
	animation:handFade 2s linear infinite;
}
@keyframes handFade{
	0%{opacity:0}
	50%{opacity:1}
	100%{opacity:0}
}

img {
    max-width: 100%;
    vertical-align: top;
}

#music {
    display: none;
    height: 0;
    opacity: 0;
}

#mask {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: transparent;
    z-index: 998;
    display: none
}

.swiper-container {
    width: 100%;
    height: 100%
}

.swiper-slide {
    position: relative;
    height: 100%;
    width: 100%;
    text-align: center;
    font-size: 0.18rem;
    background: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    overflow: hidden;
    background: rgb(0, 0, 0) url('../img3/bg.jpg') no-repeat center / 100% 100%;
}
.swiper-slide.s2{
	background: rgb(0, 0, 0) url('../img3/p2/bg.jpg') no-repeat center / 100% 100%;
}
.swiper-slide.s3{
	background: rgb(0, 0, 0) url('../img3/p3/bg.jpg') no-repeat center / 100% 100%;
}
.swiper-slide.s4{
	background: rgb(0, 0, 0) url('../img3/p4/bg.jpg') no-repeat center / 100% 100%;
}
.s1 .pic,.s2 .pic,.s3 .pic,.s4 .pic,.s4 .pic{
	position:absolute;
	display:block;
}


.arrow {
    position: absolute;
    z-index: 999;
    width: 78px;
    bottom: 22px;
    left: 50%;
    margin-left: -39px;
    -webkit-animation: start 1.5s infinite ease-in-out;
    animation: start 1.5s infinite ease-in-out;
    z-index: 999;
}
#bgm-btn {
    position: fixed;
    top: 30px;
    right: 30px;
    width: 60px;
    height: 60px;
    background: url(../img3/bgm-bg.png) bottom;
    background-size: 100%;
    z-index: 99
}

#bgm-btn.rotate {
    background-position: top;
    -webkit-animation: rotate 2.2s linear infinite;
    animation: rotate 2.2s linear infinite
}
#loading {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #fff;
    z-index: 9999
}

#loading img {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 80px;
    margin-top: -40px;
    margin-left: -40px;
}




@-webkit-keyframes rotate /*Safari and Chrome*/
    {
        0% { -webkit-transform:rotate(0deg);}
        25% { -webkit-transform:rotate(-90deg);}    
        50% { -webkit-transform:rotate(-180deg);}
        75% { -webkit-transform:rotate(-270deg);}
        100% { -webkit-transform:rotate(-360deg);}
    }

@keyframes rotate 
    {
        0% { -webkit-transform:rotate(0deg); transform:rotate(0deg);}
        25% { -webkit-transform:rotate(-90deg); transform:rotate(-90deg);}    
        50% { -webkit-transform:rotate(-180deg); transform:rotate(-180deg);}
        75% { -webkit-transform:rotate(-270deg); transform:rotate(-270deg);}
        100% { -webkit-transform:rotate(-360deg); transform:rotate(-360deg);}
    }


@-webkit-keyframes start {
    0%,30% {opacity: 0;-webkit-transform: translate(0,20px);}
    60% {opacity: 1;-webkit-transform: translate(0,0);}
    100% {opacity: 0;-webkit-transform: translate(0,-20px);}
}

@keyframes start {
    0%,30% {opacity: 0;-webkit-transform: translate(0,20px);transform: translate(0,20px);}
    60% {opacity: 1;-webkit-transform: translate(0,0);transform: translate(0,0);}
    100% {opacity: 0;-webkit-transform: translate(0,-20px);transform: translate(0,-20px);}
}


@-webkit-keyframes scaleIn {
  from {
    opacity: 0;
    -webkit-transform: scale3d(10, 10, 10);
  }

  to {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
  }
}

@keyframes scaleIn {
  from {
    opacity: 0;
    -webkit-transform: scale3d(10, 10, 10);
            transform: scale3d(10, 10, 10);
  }

  to {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
}

.scaleIn{
    -webkit-animation-name:scaleIn;
    animation-name:scaleIn
}


@-webkit-keyframes scaleInX {
  from {
    opacity: 0.2;
    -webkit-transform: scale3d(1, 0, 1);
  }

  to {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
  }
}

@keyframes scaleInX {
  from {
    opacity: 0.2;
    -webkit-transform: scale3d(1, 0, 1);
            transform: scale3d(1, 0, 1);
  }

  to {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
}
.s1 .p1{
	width:301px;
	top:135px;
	left:50%;
	margin-left:-150px;
}
.s1 .p2{
	width:531px;
	top:206px;
	left:50%;
	margin-left:-265px;
}
.s1 .p3{
	width:230px;
	top:317px;
	left:50%;
	margin-left:-115px;
}
.s1 .p4{
	width:346px;
	top:365px;
	left:50%;
	margin-left:-173px;
}
.s1 .p5{
	width:272px;
	top:415px;
	left:50%;
	margin-left:-136px;
}
.s1 .p6{
	width:470px;
	top:463px;
    left:50%;
	margin-left:-235px;	
}
.s1 .p7{
	width:750px;
	bottom:0px;
}
.s2 .p1{
	width:247px;
	left:66px;
	top:136px;
}
.s2 .p2{
	width:295px;
	left:66px;
	top:204px;
}
.s2 .p3{
	width:132px;
	left:66px;
	top:342px;
}
.s2 .p4{
	width:474px;
	left:66px;
	top:390px;
}
.s2 .p5{
	width:450px;
	left:66px;
	top:437px;
}
.s2 .p6{
	width:279px;
	left:66px;
	top:485px;
}
.s3 .p1{
	width:606px;
	left:50%;
	top:107px;
	margin-left:-303px;
}
.s3 .p2{
	width:378px;
	left:50%;
	margin-left:-189px;
	top:204px;
}
.s3 .p3{
	width:365px;
	left:50%;
	margin-left:-183px;
	top:252px;
}
.s3 .p4{
	width:496px;
	left:50%;
	margin-left:-249px;
	top:297px;
}
.s3 .p5{
	width:659px;
	left:50%;
	margin-left:-329px;
	top:336px;
}
.s3 .p6{
	width:488px;
	left:50%;
	margin-left:-244px;
	top:384px;
}
.s3 .p7{
	width:540px;
	left:50%;
	margin-left:-270px;
	top:460px;
}
.s3 .p8{
	width:610px;
	left:50%;
	margin-left:-305px;
	top:610px;
}
.s4 .p1{
	width:443px;
	left:50%;
	top:217px;
	margin-left:-222px;
}
.s4 .p2{
	width:408px;
	left:50%;
	margin-left:-204px;
	top:278px;
}
.s4 .p3{
	width:529px;
	left:50%;
	margin-left:-265px;
	top:364px;
}
.s4 .p4{
	width:578px;
	left:50%;
	margin-left:-289px;
	top:425px;
}
.s4 .p5{
	width:469px;
	left:50%;
	margin-left:-235px;
	top:506px;
}
.s4 .p6{
	width:416px;
	left:50%;
	margin-left:-208px;
	top:620px;
	display:block;
}
.s4 .p6>img{
	width:416px;
	display:block;
}
.s4 .p7{
	width:750px;
	left:50%;
	margin-left:-385px;
	bottom:0px;
}

.scaleInX{
    -webkit-animation-name:scaleInX;
    animation-name:scaleInX
}

/*mask*/
.mask {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, .67);
    z-index: 99;
}