* {
    margin: 0;
    padding: 0;
	border:0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
html{
	height:100%;
	overflow:hidden;
}
body{
    width:100%;
	height:100%;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    line-height: 1;
    color: #000;
	background-color:black;
    /*letter-spacing: 6px;*/
    max-width: 750px;
    margin: auto;
    padding: 0;
	overflow:hidden;
    letter-spacing: 1px;
    -webkit-tap-highlight-color: transparent;
}
/*加载页面*/
#loading{
	width:100%;
	height:100%;
	position:absolute;
	top:0;
	left:0;
	background:url(../img/loading.gif) no-repeat white;
	background-position:center;
	background-size:80px;
	z-index:99999;
}
#content .hide{
	display:none;
}
/*第一部分*/
#c1,#c2{
	position:relative;
}
#c1{
	width:100%;
	height:1559px;
	background:url(../img2/bg.jpg) no-repeat;
	background-size:100% 100%;
}
#c1.changeBg{
	background-image:url(../img2/bg_colorful.jpg);
}
#c1 .bg{
	width:100%;
	height:1559px;
	background:url(../img2/bg_colorful.jpg) no-repeat;
	background-size:100% 100%;
	position:absolute;
	top:0;
	left:0;
}
#c2{
	width:100%;
	height:1280px;
}
/*SVG第一部分*/
#line{
	position:absolute;
	z-index:1;
}
/*处理圆环部分*/
#circle-handle{
	width:80px;
	height:80px;
	position:absolute;
	top:145px;
	left:40px;
	background:url(../img2/circle.png) no-repeat;
	background-size:100% 100%;
	transition:width 2s ease;
	z-index:2;
}
#circle-handle.active{
	animation:circleShow 2s linear;
	animation-fill-mode:both;
}
@keyframes circleShow{
	0%{height:84px;}
	100%{height:0px;}
}
/*线光点设置*/
.light-dot{
	display:block;
	position:absolute;
}
.light-dot1{
	width:10px;
	height:40px;
	top:-10px;
	left:75px;
}
.light-dot2{
	height:10px;
	width:40px;
	top:180px;
	left:23px;
}
/*线路路标*/
.sanhuanlu,.tianfudadao,.fuchengdadao,.tianfuguoji{
	display:block;
	position:absolute;
}
.sanhuanlu{
	top:150px;
	width:66px;
	left:638px;
}
.tianfudadao{
	width:24px;
	top:270px;
	left:92px;
}
.fuchengdadao{
	width:113px;
	left:644px;
	top:357px;
}
.tianfuguoji{
	width:49px;
	left:12px;
	top:790px;
}
/*大厦部分*/
#building-wrapper{
	width:592px;
	height:800px;
	position:absolute;
	perspective:50000000px;	
	top:694px;
	left:138px;
}
.build-1,.build-2,.build-3,.build-4,.build-5{
	display:none;
	position:absolute;
}
.build-1{
	width:112px;
	height:269px;
	top:780px;
	left:243px;
}
.build-2{
	width:116px;
	height:215px;
	top:1019px;
	left:240px;

}
.build-3{
	width:209px;
	height:125px;
	top:1202px;
	left:215px;
}
.build-4{
	width:247px;
	height:352px;
	top:966px;
	left:350px;
	z-index:2;
}
.build-5{
	width:509px;
	height:259px;
	top:1300px;
	left:241px;

}
.build-1.active,.build-2.active,.build-3.active,.build-4.active,.build-5.active{
	animation-name:buildFlash;	
	animation-duration:1s;
	animation-timing-function:linear;
	animation-iteration-count:4;
}
@keyframes buildFlash{
	0%{opacity:1}
	50%{opacity:0}
	100%{opacity:1}
}
@-webkit-keyframes buildFlash{
	0%{opacity:1;}
	50%{opacity:0;}
	100%{opacity:1;}
}
/*标题配置*/
.title{
	position:absolute;
	border:2px solid rgba(255,255,255,1);
	border-radius:4px;
	overflow:hidden;
}
/*标题第一部分*/
.title1{
	width:440px;
	height:80px;
	top:473px;
	left:50%;
	margin-left:-220px;
	background:url(../img2/t1.png) no-repeat;
	background-size:400px auto;
    background-position:center center;
}
/*点线说明图*/
.dot-line{
	position:absolute;
	width:100%;
	height:100%;
	top:0;
	left:0;
	z-index:1;
}
.dots{
	width:20px;
	height:20px;
	border-radius:50%;
	position:absolute;
	background-color:rgba(255,255,255,.5);
	animation:spreadWave 1s linear infinite;
	animation-fill-mode:both;
	z-index:12;
}
@keyframes spreadWave{
	0%{background-color:rgba(255,255,255,.5);}
	100%{background-color:rgba(255,255,255,0);}
}
.inner{
	width:10px;
	height:10px;
	border-radius:50%;
	position:absolute;
	background-color:rgba(255,255,255,1);
	top:5px;
	left:5px;
}
.dot1{
	left:202px;
	top:1242px;
}
.dot2{
	left:226px;
	top:1066px;
}
.dot3{
	left:226px;
	top:857px;
}
.dot4{
	left:382px;
	top:1010px;
}
.dot5{
	left:674px;
	top:1372px;
}
/*建筑描述语*/
.arc-description{
	position:absolute;
	display:block;
}
.arc-description.hide{
	display:none;
}
.des1{
	width:143px;
	height:36px;
	top:1115px;
	left:100px;
}
.des2{
	width:158px;
	height:45px;
	top:905px;
	left:100px;
}
.des3{
	width:195px;
	height:46px;
	top:668px;
	left:100px;
}
.des4{
	width:166px;
	height:37px;
	top:738px;
	left:412px;
}
.des5{
	width:144px;
	height:45px;
	top:860px;
	left:520px;
}
#line2{
	position:absolute;
	width:100%;
	height:100%;
	top:0;
	left:0;
	z-index:9;
}

/*第一部分指示箭头*/
.part1-arrow{
	position: absolute;
    z-index: 999;
    width: 245px;
	height:133px;
    bottom: 0px;
    left: 50%;
    margin-left: -123px;
    -webkit-animation: start 1.5s infinite ease-in-out;
    animation: start 1.5s infinite ease-in-out;
    z-index: 999;
}
/*swiper部分*/
.swiper-slide {
    position: relative;
    height: 100%;
    width: 100%;
    text-align: center;
    font-size: 0.18rem;
    background: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    overflow: hidden;
    background: rgb(0, 0, 0) url('../img3/bg.jpg') no-repeat center / 100% 100%;
}
.swiper-slide.s2{
	background: rgb(0, 0, 0) url('../img3/p2/bg.jpg') no-repeat center / 100% 100%;
}
.swiper-slide.s3{
	background: rgb(0, 0, 0) url('../img3/p3/bg.jpg') no-repeat center / 100% 100%;
}
.swiper-slide.s4{
	background: rgb(0, 0, 0) url('../img3/p4/bg.jpg') no-repeat center / 100% 100%;
}
.s0 .pic,.s1 .pic,.s2 .pic,.s3 .pic,.s4 .pic,.s4 .pic{
	position:absolute;
	display:block;
}
.arrow {
    position: absolute;
    z-index: 999;
    width: 245px;
    bottom: 0px;
    left: 50%;
    margin-left: -123px;
    -webkit-animation: start 1.5s infinite ease-in-out;
    animation: start 1.5s infinite ease-in-out;
    z-index: 999;
}
#bgm-btn {
    position: fixed;
    top: 30px;
    right: 30px;
    width: 60px;
    height: 60px;
    background: url(../img3/bgm-bg.png) bottom;
    background-size: 100%;
    z-index: 99
}

#bgm-btn.rotate {
    background-position: top;
    -webkit-animation: rotate 2.2s linear infinite;
    animation: rotate 2.2s linear infinite
}
@-webkit-keyframes rotate /*Safari and Chrome*/
    {
        0% { -webkit-transform:rotate(0deg);}
        25% { -webkit-transform:rotate(-90deg);}    
        50% { -webkit-transform:rotate(-180deg);}
        75% { -webkit-transform:rotate(-270deg);}
        100% { -webkit-transform:rotate(-360deg);}
    }

@keyframes rotate 
    {
        0% { -webkit-transform:rotate(0deg); transform:rotate(0deg);}
        25% { -webkit-transform:rotate(-90deg); transform:rotate(-90deg);}    
        50% { -webkit-transform:rotate(-180deg); transform:rotate(-180deg);}
        75% { -webkit-transform:rotate(-270deg); transform:rotate(-270deg);}
        100% { -webkit-transform:rotate(-360deg); transform:rotate(-360deg);}
    }
.s0 .p1{
	width:340px;
	left:42px;
	top:156px;
}
.s0 .p2{
	width:298px;
	left:42px;
	top:250px;
}
.s0 .p3{
	width:341px;
	left:42px;
	top:308px;
}
.s0 .p4{
	width:234px;
	left:42px;
	top:402px;
}
.s0 .p5{
	width:211px;
	left:42px;
	top:450px;
}
.s0 .p6{
	width:750px;
	left:0px;
	top:608px;
}
.s0 .p7{
	width:93px;
	left:498px;
	bottom:0px;
}
.s0 .p8{
	width:81px;
	height:92px;
	right:460px;
	top:450px;
	background:url(../img3/p0/plane.png) no-repeat;
	background-size:auto 100%;
	background-position:top right;
}
.s1 .p1{
	width:301px;
	top:135px;
	left:50%;
	margin-left:-150px;
}
.s1 .p2{
	width:531px;
	top:206px;
	left:50%;
	margin-left:-265px;
}
.s1 .p3{
	width:230px;
	top:317px;
	left:50%;
	margin-left:-115px;
}
.s1 .p4{
	width:346px;
	top:365px;
	left:50%;
	margin-left:-173px;
}
.s1 .p5{
	width:272px;
	top:415px;
	left:50%;
	margin-left:-136px;
}
.s1 .p6{
	width:470px;
	top:463px;
    left:50%;
	margin-left:-235px;	
}
.s1 .p7{
	width:750px;
	bottom:0px;
}
.s2 .p1{
	width:247px;
	left:66px;
	top:136px;
}
.s2 .p2{
	width:295px;
	left:66px;
	top:204px;
}
.s2 .p3{
	width:132px;
	left:66px;
	top:342px;
}
.s2 .p4{
	width:474px;
	left:66px;
	top:390px;
}
.s2 .p5{
	width:450px;
	left:66px;
	top:437px;
}
.s2 .p6{
	width:279px;
	left:66px;
	top:485px;
}
.s3 .p1{
	width:606px;
	left:50%;
	top:107px;
	margin-left:-303px;
}
.s3 .p2{
	width:378px;
	left:50%;
	margin-left:-189px;
	top:204px;
}
.s3 .p3{
	width:365px;
	left:50%;
	margin-left:-183px;
	top:252px;
}
.s3 .p4{
	width:496px;
	left:50%;
	margin-left:-249px;
	top:297px;
}
.s3 .p5{
	width:659px;
	left:50%;
	margin-left:-329px;
	top:336px;
}
.s3 .p6{
	width:488px;
	left:50%;
	margin-left:-244px;
	top:384px;
}
.s3 .p7{
	width:523px;
	height:76px;
	position:absolute;
	left:50%;
	margin-left:-262px;
	top:460px;
	border:1px solid #c7b98d;
}
#print{
	width:0px;
	height:100%;
	background:url(../img3/p3/7.png) no-repeat;
	background-size: 523px 76px;
	background-position:left top;
	animation:print 2s linear infinite;
	animation-delay:2s;
}
@keyframes print{
	0%{width:0px;}
	100%{width:523px;}
}
.s3 .p8{
	width:610px;
	height:425px;
	left:50%;
	margin-left:-305px;
	top:610px;
}
/*飞机飞行*/
.planeFly{
	animation-name:planeFly;
	-webkit-animation-name:planeFly;
}
/*标题特效*/
.bounceScale{
	animation-name:planeFly;
	-webkit-animation-name:planeFly;
}
/*建筑放大*/
.buildScale{
	animation-name:buildScale;
	-webkit-animation-name:buildScale;
}
@keyframes buildScale{
	0%{opacity:0;width:93px;height:539px;}
	100%{opacity:1;width:195px;height:1129px;}
}
@keyframes bouceScale{
	0%{transform:scale3d(1,1,1);opacity:0}
	50%{transform:scale3d(1.2,1.2,1);opacity:1}
	100{transform:scale3d(1,1,1);opacity:0}
}
@keyframes planeFly{
	0%{width:81px;top:450px;right:460px;}
	100%{width:450px;top:344px;right:30px;}
}
.s4 .p1{
	width:442px;
	height:.49rem;
	left:50%;
	top:2.17rem;
	margin-left:-222px;
}
.s4 .p2{
	width:426px;
	height:.48rem;
	left:50%;
	margin-left:-204px;
	top:2.78rem;
}
.s4 .p3{
	width:540px;
	left:50%;
	height:.12rem;
	margin-left:-265px;
	top:3.64rem;
}
.s4 .p4{
	width:580px;
	height:.54rem;
	left:50%;
	margin-left:-289px;
	top:4.25rem;
}
.s4 .p5{
	width:476px;
	height:.61rem;
	left:50%;
	margin-left:-235px;
	top:5.06rem;
}
.s4 .p6{
	width:414px;
	height:.81rem;
	left:50%;
	margin-left:-208px;
	top:6.2rem;
	display:block;
}
.s4 .p6>img{
	width:414px;
	height:100%;
	display:block;
}
.s4 .p7{
	width:750px;
	height:4.64rem;
	left:50%;
	margin-left:-385px;
	bottom:0px;
}
#hand{
	width:30px;
	height:45px;
	position:absolute;
	top:100%;
	margin-top:-10px;
	left:50%;
	margin-left:-15px;
	animation:handFade 2s linear infinite;
}
@keyframes handFade{
	0%{opacity:0}
	50%{opacity:1}
	100%{opacity:0}
}
@-webkit-keyframes start {
    0%,30% {opacity: 0;-webkit-transform: translate(0,20px);}
    60% {opacity: 1;-webkit-transform: translate(0,0);}
    100% {opacity: 0;-webkit-transform: translate(0,-20px);}
}

@keyframes start {
    0%,30% {opacity: 0;-webkit-transform: translate(0,20px);transform: translate(0,20px);}
    60% {opacity: 1;-webkit-transform: translate(0,0);transform: translate(0,0);}
    100% {opacity: 0;-webkit-transform: translate(0,-20px);transform: translate(0,-20px);}
}




























