*:after,
*:before,
* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-overflow-scrolling: touch;
}

body {
    font: normal 16px/1.5 sans-serif;
    max-height: 100%; /*prevent font boosting*/
    background-color: #380101;
	padding:0;
}

header,footer,article,section {
    display: block;
}

.container{
	width:750px;
	margin:0 auto;
	background-color:#bd111a;
	position:relative;
}
.container .block{
	position:relative;
}
.container .block>img{
	display:block;
	outline:0;
	width:750px;
}
.container .block>div{
	display:block;
	width:189px;
	height:47px;
	position:absolute;
	cursor:pointer;
}
.container .block>div>img{
	width:100%;
	display:block;
	height:100%;
}
.t2,.d2{
	bottom:72px;
}
.t2{
	right:148px;
}
.d2{
	left:148px;
}

.t3,.d3{
	bottom:72px;
}
.t3{
	right:148px;
}
.d3{
	left:148px;
}

.t4,.d4{
	bottom:72px;
}
.t4{
	right:148px;
}
.d4{
	left:148px;
}

.t5,.d5{
	bottom:72px;
}
.t5{
	right:148px;
}
.d5{
	left:148px;
}

.t6,.d6{
	bottom:72px;
}
.t6{
	right:148px;
}
.d6{
	left:148px;
}

.t7,.d7{
	bottom:72px;
}
.t7{
	right:148px;
}
.d7{
	left:148px;
}

.t8,.d8{
	bottom:72px;
}
.t8{
	right:148px;
}
.d8{
	left:148px;
}

.t9,.d9{
	bottom:32px;
}
.t9{
	right:148px;
}
.d9{
	left:148px;
}
.container .block>a.tel-btn{
	position:Absolute;
	display:block;
	width:245px;
	height:55px;
	top:14px;
	left:50%;
	margin-left:-122px;
}
.tel-btn-1{
	position:Absolute;
	display:block;
	width:245px;
	height:55px;
	bottom:30px;
	left:50%;
	margin-left:-122px;
}
.container .block>a.tel-btn>img{
	display:block;
	width:100%;
	height:100%;
}
.dialog-form,.user-contract{
    display:none;
    width:600px;
    height:650px; 
    background:#510000;
    border-radius: 10px;
    position: fixed;
    top: 50%;
	margin-top:-325px;
    left: 50%;
	margin-left:-300px;
    -webkit-box-shadow: 0 0 10px rgba(255,255,255,0.1);
       -moz-box-shadow: 0 0 10px rgba(255,255,255,0.1);
            box-shadow: 0 0 10px rgba(255,255,255,0.1);
    padding: 30px 60px;
    z-index: 100;
    font-size: 30px;
    color: #D8D6D6;
    text-align: center;
}
.user-contract{
	text-align:left;
	font-size:30px;
	overflow:hidden;
	overflow-y:scroll;
	line-height:1.75;
	padding-top:40px;
	padding-bottom:40px;
	padding-left:40px;
	padding-right:40px;
}
.user-contract h2{
	text-align:center;
}
.quit-contract{
	position: absolute;
    top: 15px;
    right: 15px;
    cursor: pointer;
}
.dialog-form > .title {
    width: 155px;
    margin-bottom: 30px;
}
.dialog-form > .close {
    position: absolute;
    top: 15px;
    right: 15px;
    cursor: pointer;
}
.dialog-form > .tip {
    font-size: 18px;
    margin-bottom: 15px;
}
.dialog-form .row {
    width: 100%;
    margin-bottom: 20px;
}
.dialog-form .row input[type='text'],.dialog-form .row input[type='tel']{
	display:block;
	height:50px;
	line-height:50px;
	font-size:32px;
	text-align:center;
	color:#000;
}
.dialog-form .row input[type='tel']{
	margin-bottom:15px;
}
.dialog-form .row input[type="checkbox"] {
    vertical-align: text-bottom;
}
.dialog-form .row .agree-wrapper {
    margin: 0 auto;
}
.dialog-form .row .agree-box {
    display: inline-block;
    padding: 10px 5px;
    border-radius: 10px;
    background-color: #D1C0A5;
    color: #363636;
}
.dialog-form .row .notice {
    color: #b81a00;
    margin-left: 10px;
    cursor: pointer;
}
.dialog-form label {
    display: inline-block;
    font-weight: normal;
}
.dialog-form label:first-child {
    margin-right: 170px;
}
.dialog-form input {
    width: 100%;
    padding: 10px 17px;
    border: none;
    border-radius: 10px;
    background-color: #BFBFBF;
    font-size: 18px;
    outline: none;
}
.dialog-form .check {
    width: 27px;
    height: 27px;
    padding: 0;
    background: url('../img/checkbox.png') no-repeat top left;
    background-size: 100%;
    border-radius: 0;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    vertical-align: text-top;
    margin-top: 3px;
    margin-right: 10px;
}

.dialog-form .check:checked {
    background-position: bottom left;
}
.dialog-form .sub-btn {
    display: block;
    width: 272px;
    height: 52px;
    margin-left: 130px;
	margin-top:25px;
    background: url('../img/btn-sub.png') no-repeat;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
}
.special-tip {
    display: none;
    width: 600px;
    background:#1E201F;
    border-radius: 10px;
    position: fixed;
    top: 50%;
    left: 50%;	
	margin-top:-100px;
    margin-left: -300px;
    -webkit-box-shadow: 0 0 10px rgba(255,255,255,0.3);
       -moz-box-shadow: 0 0 10px rgba(255,255,255,0.3);
            box-shadow: 0 0 10px rgba(255,255,255,0.3);
            padding: 70px 80px 65px 80px;
    z-index: 500;
    font-size: 23px;
    color: #D8D6D6;
    text-align: center;
}
.special-tip > .close-tip {
    position: absolute;
    top: 15px;
    right: 15px;
    cursor: pointer;
}
.special-tip .title {
    display: block;
    width: 100%;
    font-size: 43px;
    color: #b80000;
    text-align: center;
}
.special-tip ul li {
    text-align: left;
    font-size: 20px;
    padding-left: 35px;
    position: relative;
}
.special-tip ul li::before {
    content: '';
    display: inline-block;
    width: 15px;
    height: 15px;
    background-color: #c9c9c9;
    border-radius: 50%;
    position: absolute;
    top: 8px;
    left: 0;
}
.form-title{
	font-size:50px;
}


/*mask*/
.mask {
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    background: rgba(0, 0, 0, 0);
    -webkit-transition: background .3s;
    -o-transition: background .3s;
    -moz-transition: background .3s;
    transition: background .3s;
}

.mask.toggle {
    background: rgba(0, 0, 0, 0.6);
}

/*
@media screen and (max-width: 800px) {
    .dialog-form,.user-contract{
        width: 5.84rem;
        height: 7rem;
        margin-left: -2.92rem;
        padding: 1.2rem 0.45rem 0.4rem;
        font-size: 0.2rem;
        top: 50%;
        margin-top:-3.5rem;
    }
	.user-contract{
		padding:1.2rem 0.25rem 0.4rem
	}
    .dialog-form > .title {
        width: 1.7rem;
        margin-bottom: 0.3rem;
    }
    .dialog-form > .close {
        width: 0.3rem;
    }
    .dialog-form > .tip {
        font-size: 0.2rem;
        margin-bottom: 0.25rem;
        text-align: center;
    }
    .dialog-form label:first-child {
        margin-right: 1.4rem;
    }
    .dialog-form .check {
        width: 0.25rem;
        height: 0.25rem;
    }
    .dialog-form input {
        padding: 0.1rem 0.17rem;
        font-size: 0.2rem;
        border-radius: 0.1rem;
    }
    .dialog-form .row .agree-box {
        padding: 0.1rem 0.15rem;
        border-radius: 0.1rem;
    }
    .dialog-form .sub-btn {
        width: 2.4rem;
        height: 4.7rem;
        margin-left: 1.5rem;
    }
    .dialog-form .row {
        margin-bottom: 0.25rem;
    }
    .special-tip {
        width: 5.84rem;
        margin-left: -2.94rem;
        padding: 0.5rem 0.35rem 0.45rem 0.35rem;
        top: 3rem;
    }
    .special-tip > .close-tip {
        width: 0.3rem;
    }
    .special-tip .title {
        font-size: 0.3rem;
    }
    .special-tip ul li {
        font-size: 0.2rem;
        padding-left: 0.25rem;
    }
    .special-tip ul li::before {
        width: 0.12rem;
        height: 0.12rem;
    }
    .
}

/*footer*/
footer {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    width: 1000px;
    height: 84px;
    position: fixed;
    bottom: 0;
    left: 50%;
    z-index: 10;
    -webkit-transform: translateX(-50%);
       -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
         -o-transform: translateX(-50%);
            transform: translateX(-50%);
    background-color: #230101;
    text-align: center;
}

footer img {
    vertical-align: middle;
    margin-right: 8px;
}
footer a.item {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
       -moz-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    font: normal 30px/84px sans-serif;
    text-decoration: none;
    border-right: 1px solid #fff;
    color: #fff;
    cursor: pointer;
}
footer .item:last-child {
    border-right: 0;
}
.contract-btn{
	display:block;
	position:absolute;
	width:82px;
	height:27px;
	background-color:transparent;
	left:50%;
	margin-left:-41px;
	top:120px;
	cursor:pointer;
}
.about-us{
	display:block;
	position:absolute;
	width:82px;
	height:27px;
	background-color:transparent;
	left:50%;
	margin-left:-41px;
	top:180px;
	cursor:pointer;
}
.show {
    display: block !important;
	
}

/*在线咨询大小设置*/
#LRfloater0>img{
	width:100px;
	display:block;
}
